body {
  background-color: rgb(237, 235, 237);
}

header {
  width: 100%;
  background-color: navy;
  color: white;
  height: 4rem;
}

button {
  background-color: navy;
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 48rem;
}

input {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 1.8rem;
}

textarea {
  width: 100%;
  margin-top: 1%;
}

img {
  width: 100%;
  margin-bottom: 1%;
}

.entry-header {
  font-size: 1.2rem;
}

.body {
  font-family: "Work Sans", sans-serif;
}

h1 h2 {
  font-family: Merriweather, serif;
}

.header {
  margin-left: 0.5%;
  padding-bottom: 2%;
}

.form-actions {
  display: flex;
}

a {
  color: white;
  padding: 15px;
  font-size: 1.5rem;
  text-decoration: none;
}

h1 {
  padding-bottom: 5rem;
}

.new-button {
  background-color: navy;
  color: white;
  padding: 7px;
  margin-top: 1.8rem;
  border-radius: 3px;
  margin-bottom: -1.3rem;
  font-size: 1.2rem;
}

.row-2 {
  justify-content: space-between;
  display: flex;
  height: 2.5rem;
  margin-bottom: 2rem;
}

.anchor-tag {
  margin-left: 2rem;
  padding-top: 1.5rem;
}

li {
  list-style-type: none;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.no-entries-text {
  margin-top: 5rem;
  text-align: center;
}

.fa-solid {
  margin-left: 60%;
}

h3 {
  display: inline-block;
}
